html {
  color: #545454;
  font-size: 90%;
}
.header {
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.24);
  background-color: #46344e;
  padding: 1.4rem;
  text-align: center;
  margin: 0;
  color: white;
  font-weight: 300;
}

body {
  background-color: #f2f2f2;
}

.own-container {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
}

.card {
  padding: 16px !important;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.btn-small {
  border-radius: 4px;
  background-color: #46344e;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.add-btn:hover {
  background-color: #58485f;
}

.collapsible {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.other-icon:hover {
  color: #46344e;
}

.other-icon {
  color: #a3a3a3;
}

.collapsible-header {
  align-items: center;
}

.right-zero {
  margin-right: 0 !important;
}

.btn-floating {
  position: absolute;
  right: 3rem;
  bottom: 4rem;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 5%;
  left: 45%;
}

.font-500 {
  font-weight: 500;
}

.zoom {
  transition: 0.3s;
  transform: scale(1.04) !important;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.zoom-out {
  transition: 0.3s;
  background-color: white;
  transform: scale(1);
}

.bg-border-light-black {
  border-color: #ddd;
  background-color: #ddd;
  opacity: 0.5;
  box-shadow: none;
}

input:focus,
textarea.materialize-textarea:focus {
  border-bottom: 1px solid #46344e !important;
  -webkit-box-shadow: 0 1px 0 0 #46344e !important;
  box-shadow: 0 1px 0 0 #46344e !important;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #46344e !important;
}

.modal{
  width: fit-content !important;
}

.spinner-layer {
  border-color: #F44336 !important;
}